<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Streaming Data</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('data', function(data) {
        $('#data').text('Data: ' + data);
      });
    });
  </script>
</head>
<body>
  <h1>Streaming de datos</h1>
  <p id="data">Data: </p>
</body>
</html>
